body {
    min-height: 100vh;
}

.header,
body {
    display: flex;
    flex-direction: column;
}

.hero-second-text {
    font-size: 18px;
    color: #E5E7EB;
    width: 500px;
}

ul {
    display: flex;
    list-style: none;
    gap: 8px;
   
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.footer,
.header {
    background-color: #1F2937;
    color: #E5E7EB;
}

.hero-main-text {
    font-size: 36px;
    font-weight: 900;
    color: #F9FAF8;
}

#button-color {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: none;
    width: 85px;
    font-size: 17px;
}

#inspire-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    background-color: #E5E7EB;
    padding: 20px 200px;
}

.header-content {
    display: flex;
    padding: 24px;
    gap: 48px;
    justify-content: center;
    align-items: center;
    
}

.header {
    padding: 16px;
    
}

.logo-section {
    display: flex;
    justify-content: space-around !important;
}

.section-one {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1
}

.cards {
    display: flex;
    gap: 30px;
    flex: auto;
    justify-content: center;
    padding: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.card img {
    display: flex;
    flex: 1;
    width: 200px;
    height: auto;
}

.section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
}

.credit {
    text-align: right;
    font-weight: 700;
}

.section-three {
    margin: 50px 200px;
    background-color:#3882F6;
}

.container {
    display: flex;
    justify-content: center;
    gap: 300px;
    padding: 30px;
}

.sc3-button {
    background-color: #3882F6;
    border-radius: 5px;
    border-color: white;
    color: white;
    font-weight: 700;
    width: 150px;
}

.footer {
    text-align: center;
}